{
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "requireConfigFile": false
        
    },
    "extends": [
        "airbnb-base",
        "plugin:vue/recommended"
    ],
    "rules": {
      "no-restricted-syntax": "off",
      "no-param-reassign": ["error", { "props": false }],
      "linebreak-style": "off",  // REVISAR
      "consistent-return": "off" 
     
    },
}